body {
	background-color: #282828;
}

#graph {
	position: fixed;
	background: url("./grid.png");
	background-repeat: repeat;
	background-size: 15px;
	border: 4px solid #555555;
}

#graph>canvas {
	width: 100%;
	height: 100%;
}