.graph-node {
	position: absolute;
	color: white;
	box-shadow: 0px 0px 6px 0px #000000;
	z-index: 500;
}

.graph-node>.header {
	padding: 2px;
}

.graph-node>.header>button {
	position: absolute;
	top: 2px;
	right: 2px;
	background: none;
	border: 1px solid transparent;
	color: white;
	font-weight: bolder;
}

.graph-node>.content {
	background-color: rgba(0, 0, 0, 0.75);
	padding: 3px;
}

.graph-node>.header>div {
	background: rgba(0, 0, 0, 0.3);
	user-select: none;
	font-size: 14px;
	text-align: left;
	padding-left: 6px;
	padding-bottom: 2px;
	padding-top: 2px;
}