.graph-node-property {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;
	vertical-align: middle;
	user-select: none;
}

.graph-node-property-checkbox-label {
	position: relative;
	top: -2px;
	left: 2px;
}

.graph-node-property-text-input {
	background-color: rgba(0, 0, 0, 0.75);
	border: solid 2px rgba(0, 0, 0, 0.75);
	color: white;
	width: calc(100% - 6px);
}

.graph-node-property-text-input:focus {
	border: solid 2px #494949;
}

.graph-node-property>.user-selection {
	background-color: gray;
	border: 2px solid #494949;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	float: left;
	position: relative;
	left: -10px;
	top: 0px;
	margin: 0;
	padding: 0;
}

.graph-node-property>.user-selection:hover {
	background-color: #eeeeee;
	border: 2px solid #aaaaaa;
	transform: scale(1.1);
}

.graph-node-property>.linked {
	background-color: #eeeeee;
	border: 2px solid #aaaaaa;
	transform: scale(1.1);
}